:root {
  --weightHeader: 600;
  --weightText: 400;
  --bg-blue: #0060ff;
  --bg-blue-hover: #035ae6;
  --bg-green: #60ff00;
  --bg-green-hover: #5ce705;
  --bg-dark: #191516;
  --bg-light: #fffdfa;
  --color-unimportant-text: #899097;
  --color-important-text: #333333;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-size: 1rem;
  font-weight: var(--weightText);
}

.feather {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: text-bottom;
}

button:focus{
  outline: none;
}

/* *Sidebar */

.sidebar {
  position: fixed;
  top: 0;  bottom: 0;  left: 0;
  z-index: 100; 
  padding: 4rem 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  #sidebarMenu{
    height: 450px;
    background-color: var(--bg-light);
    box-shadow: 0px 5px 10px 1px #7e7e7e;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    transition:none;
    transition-delay: 0;
    transition: all 0.25s ease-in-out;
  }
}

.sidebar-sticky .nav .nav-item{
  padding-top: 0.75rem;
}

.sidebar .nav-link {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-important-text);
}

.sidebar .nav-link .feather {
  margin-right: 0.25rem;
  color: var(--color-unimportant-text);
}

.active {
  color: var(--bg-blue);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather{
  color: inherit;
}

.sidebar .nav-link.active {
  color: var(--bg-blue);
}


/* * Navbar */
.brand-color1{
  color: var(--bg-blue);
}

.brand-color2{
  color: var(--bg-green);
}

.navbar-brand span{
  font-size: 1.5em;
  font-weight: 700;
}

.navbar-toggler i{
  color: var(--bg-dark);
  font-size: 1.5rem;
}

#toggler-icon.fa-times{
  transition: all 0.5s ease;
  transform:rotate(180deg);
}

#toggler-icon.fa-bars{
  transition: all 0.5s ease;
}

.user-wrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-wrapper img{
  border-radius: 50%;
  margin-right: 1rem;
}


/* * content */
.title{
  font-size: 2rem;
  font-weight: 600;
}

.subtitle{
  color: var(--color-important-text);
  font-size: 1.5rem;
  font-weight: 500;
}


/* * Home */
.card{
  cursor: pointer;
  box-shadow: 1px 1px 5px 0px rgba(125,125,125,0.5);
  min-height: 10rem;
}

.card:hover{
  box-shadow: 2px 2px 10px 1px rgba(75,75,75,0.75);
}

/* * Appointments */
td .status{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

tr td:last-child{
  display: flex;
  align-items: center;
}

.status.red{
  background-color: red;
}

.status.green{
  background-color: green;
}

.status.orange{
  background-color: orangered;
}

.subheader{
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* * update */

.form-control:focus {
  box-shadow: none;
  border-color: var(--color-unimportant-text);
}

