:root {
    --weightHeader: 600;
    --bg-blue: #0060ff;
    --bg-blue-hover: #035ae6;
    --bg-green: #60ff00;
    --bg-green-hover: #5ce705;
    --bg-dark: #191516;
    --bg-light: #fffdfa;
    --color-unimportant-text: #899097;
    
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

.navbar{
    background-color: var(--bg-light);
    z-index: 10000;
    width: 100%;
}

.brand-color1,  .brand-color2{
    font-size: 2rem;
    font-weight: 700;
}

.navbar-brand {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .brand-color1{
      color: var(--bg-blue);
  }

  .brand-color2{
      color: var(--bg-green);
  }

  .btn:focus, .btn.focus{
      outline: none;
      box-shadow: none;
  }
  .btn-login{
      background-color: var(--bg-green);   
      color: var(--bg-light);
  }

  .btn-register{
      background-color: var(--bg-blue);
      color: var(--bg-light);
  }

  .btn-register:hover{
    background-color: var(--bg-blue-hover);
  }

  .btn-login:hover{
    background-color: var(--bg-green-hover);
  }




header {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: 1;
  }

  header h1{
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  h2 {
    -webkit-animation : slideIn 1s forwards;
    -moz-animation    : slideIn 1s forwards;
    animation         : slideIn 1s forwards;
  } 
  @-webkit-keyframes slideIn {
    0%   { transform: translateY(450px); }
    100% { transform: translateY(0);      }
  }
  @-moz-keyframes slideIn {
    0%   { transform: translateY(450px); }
    100% { transform: translateY(0);      }
  }
  @keyframes slideIn {
    0%   { transform: translateY(450px); }
    100% { transform: translateY(0);      }
  }

  header h1 span{
    font-weight: 700;
  }

  .about {
    background-color: var(--bg-light);
    height: 100%;
    padding:2rem 0 4rem 0;
  }  

  .about h2 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--bg-dark);
    font-size: 2rem;
    font-weight: 600;
  }
  
  .about-inner {
    position: relative;
    top: 1rem;
  }

  .tour-item{    
  box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.5);
  border-radius: 1rem;
  }

  .tour-item:hover{
    box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.5);
  }
  
  .about-pos {
    position: relative;
    top:1.5rem;
  }
  
  .tour-desc {
    border-radius: 1rem;
    padding: 2.5rem;
  }
  
  .color-grey-3 {
    font-size: 0.9rem;
    color: var(--color-unimportant-text);
  }
  
  .about-inner img.tm-people {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    max-width: none
  }
  
  .link-name {
    font-size: 0.9rem;
    color: var(--color-unimportant-text);
  }
  
  .link-position {
    font-size: 0.75rem;
    color: var(--color-unimportant-text);
  }


  .style-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* background-color: #191516; */
  }

.services{
    position: relative;
    background-color: var(--bg-blue);
    height: 100%;
    padding:4rem 0 4rem 0;
  }

.section-header-light{
    color:var(--bg-light);
    font-size: 3rem;
    text-align: center;
    font-weight: var(--weightHeader);
    padding:2rem 0 1rem 0;
  }

  .num, .step{
    color: var(--bg-light);
  }

  .num{
    font-size: 5rem;
    font-weight: 700;
  }

  .step{
    font-size: 1.75rem;
    line-height: 1.75rem;
  }