/* *{*/
    /* transition: all 1s ease-in-out; */
/* }  */

.fill, .image{
    transition: all 0.5s ease-in-out;
}

.invisible{
    display: none;
}

.sign-in-form .image, .sign-up-form .image, .lost-password-form .image{
    padding: 0;
    background: url("../images/cover2.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.about-page .image{
    background: url("../images/doctor.png");
    background-size: cover;
    height: 100vh;
}

@media screen and (max-width:810px){/*ipad width*/
    .sign-in-form .image, .sign-up-form .image, .lost-password-form .image{        
        height: 30vh;        
    }
    .image{
        margin-bottom: 2.5vh;
    }
}
.sign-in-form .fill form, .lost-password-form .fill form{
    padding: 0 5% 0 5%;
}

@media screen and (min-width:1025px){
    .sign-in-form .fill form, .lost-password-form .fill form{
        padding: 0 20% 0 20%;
    }
}

.sign-in-form .fill, .sign-up-form .fill, .lost-password-form .fill{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* *Header */
.topic{
    font-size: 2rem;
    font-weight: 600;
}

p{
    font-size: 1rem;
    color: #292b2c;
}

.form-control{
    border: 0.1rem solid #7fbbfc;
 }

/* .form-control:focus{
    border: 0.125rem solid #439eff;
 }  */



 input:focus::placeholder {
    color: #fff;
    text-shadow: none;
  }

small{
    text-align: center;
    color: #fff;
}

.error{
    color: #d9534f;
}

.form-control-error{
    border: 0.1rem solid #d9534f;
}



small .pass{
    color: #5cb85c;
}


/* *Links */
a:hover{
    text-decoration: none;
}


/*validation styles*/
select.valid,input.valid{
    border-color:green !important;
}
input.invalid{
    color: crimson !important;
    border-color: crimson !important;
}

/* input+small{
    color: green;
} */

input.invalid+small{
    color:crimson;
} 

